*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.container {
  background-color: seashell;

  display: grid;
}

.wrapper {
  display: grid;
}

header {
  display: inline;
}

.help-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

main {
  margin-block: 1rem;
}

/* grid-column/grid-area  */
.card-wrapper {
  background-color: salmon;
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-areas:
    "one two"
    "four two"
    "three three";
}

.card {
  padding: 2rem;
  background-color: sandybrown;
  border-radius: 4px;
}

.one {
  /* grid-column-start: 1;
  grid-column-end: 2; */
  background-color: seagreen;

  grid-area: one;
}

.two {
  /* grid-column-start: 2; */

  /* grid-row-start: 1;
  grid-row-end: 3; */

  /* grid-row: 1 / span 2; */

  background-color: sienna;

  grid-area: two;
}

.three {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  background-color: aqua;

  grid-area: three;
}

.four{
  grid-area: four;
}

/* repeat */
.calendar {
  display: grid;
  grid-template-columns: repeat(5, 2rem);
  gap: 0.5rem;
}

.calendar div {
  height: 2rem;
  border: 2px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.calendar div:hover {
  background-color: red;
  color: white;

  transition: all ease-in 0.2s;
}

/* alignment */
main.bound-box {
  background-color: salmon;
  display: grid;
  grid-template-columns: 300px 200px 100px;
  /* grid-template-columns: 1fr 2fr 3fr; */
  grid-template-rows: 1fr 1fr 1fr;

  justify-content: end;
  /* justify-items: center; */

  height: 200px;

  /* align-content: center; */
  /* align-items: end; */
}

div.boxy {
  height: 40px;
  width: 40px;
  background-color: slategrey;
  border-radius: 8px;
}

div.boxy:nth-child(2) {
  /* justify-self: end; */
  /* align-self: center; */
}

/* minmax */
.minmax-grid {
  display: grid;
  gap: 16px;
  padding: 16px;
  grid-template-columns:
    minmax(50px, 1fr)
    minmax(250px, 1fr);
}

.minmax-grid .card {
  height: 225px;
  background: white;
  border-radius: 8px;
  padding: 16px;
}

/* autofill_grid */
.autofill_grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 150px);
  padding: 16px;

  /* distribute leftover */
  justify-content: space-evenly;
}
.autofill_grid .card {
  height: 150px;
  background: white;
  border-radius: 8px;
  padding: 16px;
}

/* fluid-grid */
.grid {
  padding: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.grid .item {
  height: 150px;
  background: hsl(250deg 20% 20%);
  border-radius: 8px;
  padding: 16px;
}
