/* resetting rules, un-setting rules  */
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: antiquewhite;
    margin: 200px;
}



div div{
    width: 200px;
    height: 200px;
    background-color: brown;
    margin-block-end: 3%;
    margin-inline-start:3%;
}

/* 
create three boxes
*/

.box-1{
    box-shadow: 0px 0px 10px 10px rgb(86, 187, 249);
    position: relative;
    z-index: 2;
}

.box-2{
    background-color: rgb(239, 247, 12);
    position: relative;
    top:-100px;

    box-shadow: 0px 0px 10px 10px green;
    z-index: 1;
}

.box-3{
    background-color: blue;
    position: relative;
    top:-200px;
    box-shadow: 0px 0px 10px 10px rgb(250, 91, 22);
    z-index: 3;
}

