/* add border, width and height to p */
/* create an overflow */
#ot {
  width: 100px;

  /* extrinsic */
  height: 50px;

  border: 2px solid black;

  /* intrinsic */
  height: max-content;

  /* height: fit-content; */

  /* min,max */
  /* min-width: 200px;
max-width: 500px; */

  /* horizontal overflow */
  font-size: 2rem;
  color: slategray;
  width: 100px;

  /* prevent text-wrap */
  white-space: nowrap;

  margin: 0 auto;
  margin-top: 300px;

  padding: 10px;
  overflow: scroll;

  /* vertical overflow */
  height: 50px;

  /* overflow-x and overflow-y */
}

/* content of the box, changes it size */
p.txt {
  /* give bg */
  background-color: aqua;

  /* --- extrinsic --- */
  /* set width */
  /* width: 200px; */

  /* set smaller width */
  /* width: 100px; */

  /* prevent wrap */
  /* white-space: nowrap; */

  /* comment width */
  /* min,max */
  /* min-width: 50px; */
  /* max-width: 300px; */

  /* it should create wrapping */
  /* width: min-content; */
  /* width: max-content; */
  /* width: fit-content; */

  /* to show width auto, default */
  /* width: auto;  */
}

/* width:fit-content */
body {
  /* border: 2px solid red; */
  /* width: 200px; */
}

/* show fit-,max-,min- content */
section{
  display: none;
}

div > p {
  background-color: cornflowerblue;
  font-size: 1.2rem;
  margin-block-end: 20px;
}

div * {
  margin: 0;
  padding: 0;
}

p.auto {
  width: auto;
}

p.min {
  width: min-content;
}

p.max {
  width: max-content;
}

p.fit {
  width: fit-content;
}

/* overflow */
p.txt{
  /* create bounding box */
  /* width: 200px;
  height: 200px;

  font-size: 1.4rem;
  border:2px solid red;  */

  /* background-color: antiquewhite; */

  /* overflow: hidden; */
  /* overflow: visible; */
  /* overflow: auto; */
  /* overflow: scroll; */

}
